<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<body>
		<div id="app">
			<li v-for="item in bb">
				{{ item.id  }},{{ item.name  }}
			</li>
			
		</div>
		<div id="app1">
			<li v-for="(item,keys) in obj">
				{{ keys  }}::::::{{ item  }}
			</li>
		</div>
	</body>
	<script type="text/javascript">
		var aa = {
				bb:[
					{id:"1",name:"lixing1"},
					{id:"2",name:"lixing1"},
					{id:"3",name:"lixing1"}
					]
		};
		var vm = new Vue({
			el:"#app",
			data:aa
		})
		var vm2 = new Vue({
			el:"#app1",
			data:{
				obj:["1233124","124156","aasfghh","tyyuiiio"]
			}
			
		})
	</script>
</html>
